Source: yubikey-luks-1fa
Section: admin
Priority: optional
Maintainer: Bernd Zobl <bzobl@gmx.net>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.4
Homepage: https://github.com/bzobl/yubikey-luks-1fa

Package: yubikey-luks-1fa
Architecture: all
Depends: cryptsetup, initramfs-tools, yubikey-personalization (>= 1.5), udisks2, expect, ${misc:Depends}
Description: YubiKey one factor authentication for LUKS disks
 With this extension to the initramfs-tools, you can unlock a LUKS encrypted
 disk using a YubiKey supporting challenge-response as a single factor.
 .
 The challenge-response mechanism of the YubiKey is used to generate a response
 based on a challenge configured per-disk in your crypttab.
