#! /usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# nothing to build

override_dh_install:
	dh_install
	install -D -o root -g root -m644 README.md debian/yubikey-luks-1fa/usr/share/doc/yubikey-luks-1fa/README.md
	install -D -o root -g root -m755 hook debian/yubikey-luks-1fa/usr/share/initramfs-tools/hooks/yubikey-luks-1fa
	install -D -o root -g root -m755 key-script debian/yubikey-luks-1fa/usr/share/yubikey-luks-1fa/ykluks-1fa-keyscript
